body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.main-btns{
   margin-top: 20px;
}
.my-btn{
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: .1s;
    margin: 0 20px;
    border: 5px solid transparent;
}
.my-btn:hover{
    background-color: white;
    color: black;
    border: 5px solid black;
    cursor: pointer;
}
 
.main-title {
    background-color: black;
    color: white;
    padding: 15px 0;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% { color: wheat; }
    10% { color: orange; }
    20% { color: yellow; }
    30% { color: green; }
    40% { color: blue; }
    50% { color: indigo; }
    60% { color: violet; }
    70% { color: pink; }
    80% { color: cyan; }
    90% { color: magenta; }
    100% { color: red; }
}

.icons{
    display: flex;
    font-size: 55px;
    justify-content: center;  
}
.icons a{
    margin: 0 15px;
}
.icons a:hover{
   opacity: 0.5;
    cursor: pointer;
}